* {
    font-size: 14pt;
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    --tailleA: 17em;
    /*C'est une variable à utiliser partout où la meme valeur doit exister*/
}

body {
    background-attachment: fixed;
    background-color: royalblue;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0rem;
    padding: 0px;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: darkmagenta;
}

.navbarr {
    width: 100%;
    position: relative;
}

.container {
    background: #CCC;
}

.faq-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.faq-cards__card {
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 225px;
    background: #647FF5;
    text-align: center;
}


/*
ul {  
    background-attachment: fixed;
    width: auto;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: #647FF5;
    z-index: 2;
}

li {
    float: left;
}

li.dropdown {
    display: inline-block;
}
*/

li a,
.faq-cards__card a,
.dropbtn {
    display: inline-block;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color: #fff;
    background-color: #647FF5;
    transition: all 0.75s ease-out;
}

a:hover,
a:focus {
    color: #333;
    background-color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.enligne {
    display: inline;
}

.etoile1 {
    width: 33%;
    height: var(--tailleA);
    /*Utilisation de la variable*/
    display: inline-block;
    position: relative;
}

.carredeco {
    width: 5em;
    height: 5em;
    animation-name: couleur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    top: calc(50% - 2.5em);
    /*On centre verticalement l'element par rapport à son parent (moitier de la hauteur du parent moins la mointier de la hauteur de l'élément)*/
    left: calc(50% - 2.5em);
}

.triangledeco {
    width: 0;
    height: 0;
    border-left: 2.5em solid royalblue;
    border-right: 2.5em solid royalblue;
    border-bottom: 5em solid transparent;
    animation-name: couleur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 5em;
}

.triangledeco2 {
    width: 0;
    height: 0;
    border-left: 2.5em solid royalblue;
    border-right: 2.5em solid royalblue;
    border-top: 5em solid transparent;
    animation-name: couleur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 5em;
}

.triangledeco3 {
    width: 0;
    height: 0;
    border-bottom: 2.5em solid royalblue;
    border-top: 2.5em solid royalblue;
    border-left: 5em solid transparent;
    animation-name: couleur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 5em;
}

.triangledeco4 {
    width: 0;
    height: 0;
    border-bottom: 2.5em solid royalblue;
    border-top: 2.5em solid royalblue;
    border-right: 5em solid transparent;
    animation-name: couleur;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    right: 5em;
}

#centre {
    width: 33%;
    height: var(--tailleA);
    display: inline-block;
    position: relative;
}

.introduction {
    width: var(--tailleA);
    height: var(--tailleA);
    border-radius: 8.5em;
    background-color: #647FF5;
    color: black;
    font-size: auto;
    text-align: center;
    font-weight: bold;
    padding: 55px 40px;
    position: relative;
    left: calc(50% - var(--tailleA)/2);
}

.introduction p {
    padding-bottom: 1em;
}

.introduction:hover {
    background-color: navy;
    color: white;
    transition: width 2s, height 2s, background-color 2s, color 2s, transform 2s;
    transition-duration: 0.75s;
}

@keyframes couleur {
    from {
        background-color: orange;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: palegoldenrod;
    }
    75% {
        background-color: yellow;
    }
    to {
        background-color: orange;
    }
}

@media screen and (max-width:781px) {
    .toto {
        background-color: pink;
    }
    #burger-bouton:hover+.faq-cards,
    .faq-cards:hover {
        display: flex;
        background-color: red;
    }
    .burger-barre {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    .burger-barre.top {
        margin-top: 0;
    }
    .burger-barre.bottom {
        margin-bottom: 0;
    }
    .faq-cards {
        display: none;
    }
    .etoile1 {
        width: 100%;
        height: 300px;
        position: relative;
    }
    #centre {
        width: 100%;
    }
}